{% extends 'layouts/bsae.html.' %}
{% block content%}

<h1>Jamonardo</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates adipisci, quo repellat harum, modi esse praesentium rem aperiam labore cupiditate eum excepturi, minus fuga blanditiis quidem aut facilis explicabo cum animi neque! Quae animi dolores laborum odio excepturi possimus architecto voluptatibus fugit, quasi soluta quos veniam molestias odit assumenda mollitia repellat accusamus voluptate debitis in? Maiores ut fugiat, velit quos, provident laboriosam aliquid deserunt ex officiis adipisci maxime cum quaerat harum. Iusto deleniti, aliquam quod beatae magni libero eos, velit, ex aut voluptatem autem temporibus vel perspiciatis unde minima iure commodi similique eum suscipit rem. Sit, similique cumque? Quod, laborum!</p>
<h2>{{ username}}</h2>

{% endblock %}